<!DOCTYPE html>
<html>
    <head>
        <% if(title === "bigdata"){ %>
        <title>Registration - Big Data</title> <!--Add event name here also-->
        <% } %>


        <% if(title === "placement"){ %>
            <title>Registration - Placement</title> <!--Add event name here also-->
        <% } %>

        <% if(title === "Paircoding"){ %>
            <title>Registration - Pair Coding</title> <!--Add event name here also-->
        <% } %>

        <% if(title === "Debug"){ %>
            <title>Registration - Debug</title> <!--Add event name here also-->
        <% } %>

        <% if(title === "Blindcoding"){ %>
            <title>Registration - Blind Coding</title> <!--Add event name here also-->
        <% } %>

        <% if(title === "Techquiz"){ %>
            <title>Registration - Technical Quiz</title> <!--Add event name here also-->
        <% } %>

        <% if(title === "softwhere"){ %>
            <title>Registration - Soft-Where</title> <!--Add event name here also-->
        <% } %>

        <% if(title === "Mathomania"){ %>
            <title>Registration - Math-O-Mania</title> <!--Add event name here also-->
        <% } %>

        <% if(title === "Photography"){ %>
            <title>Registration - Photography</title> <!--Add event name here also-->
        <% } %>

        <% if(title === "ui"){ %>
            <title>Registration - UI/UX Design</title> <!--Add event name here also-->
        <% } %>

        <link rel = "icon" type = "image/png" href ="/images/Mutex logo black.png">
        
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
        
        <style type="text/css">
  
    body{
        background-color: black;
    }
    #ui{
        background-color: #181f24;;
        font-family: "Open Sans";
        padding: 15px;
        margin-top: 5px;
        margin-bottom: 30px;
        border-radius:4px; 
        padding-bottom: 50px;
        opacity: 0.9;
    }
    #ui label,h2{
        color:#fff;
    }
    div{
        animation-iteration-count: 1;
    }
    
    .anim{
        
        animation: mymove 1s;
    }
    
            .cont{
                margin-top:20px;
                margin-bottom: 20px;
                margin-left: 20px;
                margin-right: 20px;
            }
     .navbar{
    background-color:black;
    }
            .about{
                
                padding-left:10px;
                padding-right:10px;
                padding-top:5px;
                padding-bottom: 20px;
                color: white;
                font-size: 22px;
            }  
          
    @keyframes mymove {

        0% {
                opacity: 0;
            }
        10%{
            opacity: 0.1;
        }
            20% {
                opacity: 0.2;
            }
        30%{
            opacity: 0.3;
        }
        40%{
            opacity: 0.4;
        }
        50%{
            opacity: 0.5;
        }
        60%{
            opacity: 0.6;
        }
        70%{
            opacity: 0.7;
        }
        80%{
            opacity: 0.8;
        }
        90%{
            opacity: 0.9;
        }
}
        </style>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
            
          <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Outfit&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <div class="header">
            <div class="menu-bar">
            <nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#"><img src="/images/Mutex%20logo%20black.png" width="70px" height="50px"></a>
</nav>
</div>
</div>
        
        <div class="container">

            <% if(title === "bigdata"){ %>
            <h1 style="color:white">Big Data:</h1><br>
            <hr > 
            <div class="row">
                <div class="col-lg-6">
                    
                <img class="cont" src="/images/Assets/Bigdata.png" width="60%" height="auto">
                    
                 <h2>Instructions:</h2><br> 
                    <p class="about">
                       Details will be shared through the mail.
                    </p>
            <% } %>   
            
            <% if(title === "placement"){ %>
            <h1 style="color:white">Placement Workshop:</h1><br>
            <hr > 
            <div class="row">
                <div class="col-lg-6">
                    
                <img class="cont" src="/images/Assets/Placement%20Workshop1.png" width="60%" height="auto">
                    
                 <h2>Instructions:</h2><br> 
                    <p class="about">
                       Details will be shared through the mail.
                    </p>
            <% } %>   
              
                
                <% if(title === "Paircoding"){ %>
                    <h1 style="color:white">Pair Coding:</h1><br>
                    <hr > 
                    <div class="row">
                        <div class="col-lg-6">
                            
                        <img class="cont" src="/images/Assets/Paircoding.png" width="100%" height="auto">
                            
                         <h2>Instructions:</h2><br> 
                            <p class="about">
                                Pair coding is basically to provide you with a technical coding round atmosphere.<br>
                                Every candidate will be assigned with an interviewer where they will have discussion about the approach on how to solve the problem and implement it.
                                
                            </p>
                    <% } %> 
                
                    <% if(title === "Debug"){ %>
                        <h1 style="color:white">Debug:</h1><br>
                        <hr > 
                        <div class="row">
                            <div class="col-lg-6">
                                
                            <img class="cont" src="/images/Assets/debug.png" width="100%" height="auto">
                                
                             <h2>Instructions:</h2><br> 
                                <p class="about">
                                    1) A solo event where the participant will be given multiple code questions each consisting of ample errors either in algorithm or in syntax.<br> 2) The task is to get rid of those errors with a given time constraint such that it compiles properly and produces the desired output.<br>3) The participant dispelling maximum errors will be qualified for the final round. 
                                </p>
                        <% } %>
                    
                        <% if(title === "Blindcoding"){ %>
                            <h1 style="color:white">Blind Coding:</h1><br>
                            <hr > 
                            <div class="row">
                                <div class="col-lg-6">
                                    
                                <img class="cont" src="/images/Assets/Blindcoding.png" width="100%" height="auto">
                                    
                                 <h2>Instructions:</h2><br> 
                                    <p class="about">
                                        1) A solo event where the participants will be provided with appropriate IDE to code given questions with time constraint.<br> 2) This ought to be done amidst obstacles that can be either with screen off or without editing the code.
                                    </p>
                            <% } %>    
                            
                        <% if(title === "Techquiz"){ %>
                            <h1 style="color:white">Technical Quiz:</h1><br>
                            <hr > 
                            <div class="row">
                                <div class="col-lg-6">
                                    
                                <img class="cont" src="/images/Assets/quizo.png" width="100%" height="auto">
                                    
                                 <h2>Instructions:</h2><br> 
                                    <p class="about">
                                        1) A solo event where the participants will be provided with a set of questions that totally relies on technical side.<br> 2) Participant solving maximum questions within time constraint will be qualified for the next round.  
                                    </p>
                            <% } %>
                            
                            <% if(title === "softwhere"){ %>
                                <h1 style="color:white">Soft-Where:</h1><br>
                                <hr > 
                                <div class="row">
                                    <div class="col-lg-6">
                                        
                                    <img class="cont" src="/images/Assets/softwhere.png" width="100%" height="auto">
                                        
                                     <h2>Instructions:</h2><br> 
                                        <p class="about">
                                            The candidates will be provided with a software topic and will be questioned on its internal design and technology and will have to talk about the software in brief.
                                        </p>
                                <% } %>

                                <% if(title === "Mathomania"){ %>
                                    <h1 style="color:white">Math-O-Mania:</h1><br>
                                    <hr > 
                                    <div class="row">
                                        <div class="col-lg-6">
                                            
                                        <img class="cont" src="/images/Assets/Mathomania.png" width="100%" height="auto">
                                            
                                         <h2>Instructions:</h2><br> 
                                            <p class="about">
                                               1) The purpose of this competition is to promote enthusiasm for learning Mathematics and strengthen the critical thinking and problem-solving skills of students.<br>2) The participants will be tested on arithmetic ability and logical thinking majorly.
                                            </p>
                                    <% } %>

                                    <% if(title === "Photography"){ %>
                                        <h1 style="color:white">Photography:</h1><br>
                                        <hr > 
                                        <div class="row">
                                            <div class="col-lg-6">
                                                
                                            <img class="cont" src="/images/Assets/Photography.png" width="100%" height="auto">
                                                
                                             <h2>Instructions:</h2><br> 
                                                <p class="about">
                                                    1) Once you register for the photography contest, you will receive a confirmation mail.<br>2) You will have to send your snap to that particular mail.<br>3) The jury will decide the top 3 and will post it on the instagram page.<br>4) Highest number of likes among the top 3 will be declared as the winner.    
                                                </p>
                                        <% } %>

                                        <% if(title === "ui"){ %>
                                            <h1 style="color:white">UI/UX Design:</h1><br>
                                            <hr > 
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    
                                                <img class="cont" src="/images/Assets/ui.png" width="100%" height="auto">
                                                    
                                                 <h2>Instructions:</h2><br> 
                                                    <p class="about">
                                                        After registration you will recieve an confirmation mail. Send your design to that particular mail. The jury will shortlist the top designs and rewards will be provided    
                                                    </p>
                                            <% } %>

                </div>
                
                <div class="col-lg-6 anim">
                    <div id="ui">
                        <h2 class="text-center">REGISTERATION FORM</h2>
                        
                        <form class="form-group" method="post" action="/success-solo">
                            <input type="hidden" name="event" value="<%= title %>">
                            <label>Name:</label> 
                            <input type="text" name="name" class="form-control" placeholder="enter name">
                            <br>
                            <label>Register number:</label> 
                            <input type="text" name="regno" class="form-control" placeholder="enter register number">
                            <br>
                            <label for="dept">Department</label>
                            <select name="dept" class="form-control" required>
                                <option default>Select Department</option>
                                <option value="Information Technology">Information Technology</option>
                                <option value="Computer science">Computer science</option>
                                <option value="Electronics and communication">Electronics and communication</option>
                                <option value="Electronics and instrumentation">Electronics and instrumentation</option>
                                <option value="Rubber and Plastic Technology">Rubber and Plastic Technology</option>
                                <option value="Aeronautical Engineering">Aeronautical Engineering</option>
                                <option value="Production Technology">Production Technology</option>
                                <option value="Automobile Engineering">Automobile Engineering</option>
                                <option value="Mechanical Engineering">Mechanical Engineering</option>
                            </select>
                            <br>
                            <label>E-mail:</label> 
                            <input type="email" name="email" class="form-control" placeholder="enter email id">
                            <br>
                            <label>phone number:</label> 
                            <input type="text" name="phone" class="form-control" placeholder="enter phone number">
                            <br>

                            <% if(title === "softwhere"){ %>
                            <label for="software">Software</label>
                            <select name="software" class="form-control" required>
                                <option default>Select Software</option>
                                <option value="Instagram">Instagram</option>
                                <option value="Stack Overflow">Stack Overflow</option>
                                <option value="Uber">Uber</option>
                                <option value="Gmail">Gmail</option>
                                <option value="Swiggy">Swiggy</option>
                                <option value="Google Drive">Google Drive</option>
                                <option value="Udemy">Udemy</option>
                                <option value="Others">Others</option>
                            </select>
                           <% } %>
                            <br>

                            <br>
                             <center><div style="justify-content: center;">
                                <button type="submit" class="btn btn-light">SUBMIT</button>
                                 </div></center> 
                        </form>
                        
                        
                        
                        
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
        <br>
        <br>
        <footer class="page-footer text-light bg-dark">
            <br>
        <div class="container text-center text-md-left mt-5">
            <div class="row">
            <div class="col-md-3 mx auto md-4">
                <h6 class="text-uppercase font-weight-bold">event co-ordinators</h6>
                <hr class=" md-4 mt-0 d-inline-block mx-auto" style= "width:200px ;height: 5px">
                <p class="mt-2 text-secondary">
                    Techincal Events:&nbsp"abcdefgh"<br> 
                    contact number:&nbsp"1234567890"<br><br>
                    Non-Techincal Events:&nbsp"abcdefgh"<br> 
                    contact number:&nbsp"1234567890"<br><br>
                    Workshops:&nbsp"abcdefgh"<br>
                    contact number:&nbsp"1234567890"<br>
                    <br>
                    <br>
                    <i class="fas fa-envelope text-white mr-1"></i> : mutex2k21@gmail.com
                    <br>
                    <i class="fab fa-instagram text-white mr-1"></i> : ita_mit_india
                    </p>
                </div>
                <div class="col-md-3 mx auto md-4"></div>
                <div class="col-md-3 mx auto md-4"></div>
                <div class="col-md-3 mx auto md-4">
               <center>     <img src="/images/ita.PNG" alt="image" style= "width:150px ;height: 150px" />
                    <p class="mt-2 text-center text-light">Website designed by ITA tech team</p></center>
                </div>
                </div>
                
            </div>
        
        
                <div class="footer-copyright text-center py-3">
                    <p>&copy;Information Technology Assoiciation
                    </p>
            </div>
        
    </footer>
    </body>
</html>
