<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mutex-ITA</title>
    <link rel = "icon" type = "image/png" href ="/images/Mutex logo black.png">
    <link rel="stylesheet" href="/css/style.css">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!------Open Sans--->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Outfit&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap" rel="stylesheet">

</head>
    
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <div class="header">
        <div class="menu-bar">
          <nav class="navbar navbar-expand-lg navbar-dark">
             <a class="navbar-brand" href="#"><img src="/images/Mutex logo black.png" width="70px" height="50px"></a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i> 
             </button>
             <div class="collapse navbar-collapse" id="navbarNav">
                 <ul class="navbar-nav ml-auto">
                     <li class="nav-item">
                       <a class="nav-link" href="#tech">Technical </a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-link" href="#nontech">Non-Technical</a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-link" href="#workshop">Workshops</a>
                     </li><br>
                     <li class="nav-item">
                       <button class="btn btn-dark"> <a href="/events" style="color: white;" class="register" >
                        REGISTER NOW</a></button>
                     </li>
                 </ul>
              </div>
           </nav>
         </div> 
     </div>
     <br><br>
     <!---     <div class="container">
        <div class="row">
          <div class="col-lg-1 col-md-1"></div>
          <div class="col-lg-10 col-md-10 col-12">
               <div id=section1>
                <img id="bgcontainer" src="Backblended.png" class="img-fluid" >
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <center><h1>M   U   T   E   X </h1></center>
               </div> 
          </div>
          <div class="col-lg-1 col-md-1"></div>
        </div>

     </div>
    --->
    <div class="container h-100 d-flex flex-column">
      <div class="row flex-grow-1">
    <img id="bgcontainer" src="/images/Backblended.png" class="img-fluid" >
    <div class="logo">
      <img class="img-fluid text-center logosize m" src="/images/logo.png"> 
      <br>
      <div class="mutex stack container mx-auto">
        <span class="rogfont" style="--index: 0">M U T E X</span>
        <span class="rogfont" style="--index: 1">M U T E X</span>
        <span class="rogfont" style="--index: 2">M U T E X</span>
        
      </div>
      </div>
      </div>
      <div class="motto mx-auto myauto">
        <span class="fadein1 rogfont" >BEHAVE</span>&nbsp;&nbsp;
        <span class="fadein2 rogfont">BELIEVE</span>&nbsp;&nbsp;
        <span class="fadein3 rogfont" >BECOME</span>&nbsp;&nbsp;
      </div>
    </div>
    
      </div>
    </div>
    <div class="container" style="position: absolute;">
       <br><br><br><br> 
    </div>
   <div class="container hashtag">          
     <div class="post-heading text-center mt-3">   
            <h3 class="h4 lead" style="color: white;">#make<span style="font-weight: bold;color:red">IT</span>happen</h3>
            <hr class="w-50 mx-auto pb-3">
          </div></div>
      <br>
      <br><br>
      <div  style="font-family:Open Sans;">
      <div class="container-fluid">   <br>
        <div id="about" class="container-fluid mt-3 mb-4 p-4">
          <div class="abouth"> About </div><br>
          <div class="aboutc">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Welcome to the official site of Mutex, the Intra-College Symposium conducted by the Information Technology Association(ITA) to be held from 15-18th of December 2021. 
            A lot of technical and non-technical events are going to be conducted that would assist you in gaining significant knowledge 
            whilst also having fun. It would be a great avenue for us to kick start our offline interactions post the Covid era. 
            We encourage all the juniors to participate in the events and showcase their talents. 
            Exciting rewards up for grabs!  
          </div>
      </div>
      <br>
    </div>

      <div class="container-fluid" id="workshop">   
        <div id="section3" class="container-fluid mt-3 mb-4">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-12 p-4 workshop">
                <h3 class="abouth"> Workshops </h3><br>
                <h4> Learning is something to be enjoyed, not endured.By getting hands-on from the start workshop lets you
                  learn through experience and do more of what you love </h4><br>
               <br><br>
              </div>
              <div class="col-lg-8 col-md-8 col-12 p-4">
               <img class="img-fluid" src="/images/Assets/workshop cover.png">
             </div>
             <br>
          </div>
      </div>
      <br>
    </div>
    <div class="container-fluid" id="tech">   
      <div class="container-fluid">
        <div class="row container-fluid video-container">
            <div class="col-lg-2 col-md-2">
             
            </div>
              <div class="col-lg-8 col-md-8 col-12 bgvideo">
              <div class="bgvideo">
                  <video autoplay muted loop class="img-fluid" >
                    <source src="/images/techcover.mp4" type="video/mp4" />
                  </video>
                </div>
                <div class="caption">
                  <h2 class="headFont">Technical Events</h2><br>
                  <p class="contentFont">
                    Are you a technophile, hope in and find a wide variety of events in which you can participate and have fun.
                  </p>
                  <div class="pt-4">
                 <br><br>
                </div></div>
              </div>
            <div class="col-lg-2 col-md-2 p-4 workshop"></div>
        </div>
    </div>
    <br>
  </div>
       
    <div class="container-fluid" id="nontech">   
      <div id="section2" class="container-fluid mt-3 mb-4">
        <div class="row">
            <div class="col-lg-7 col-md-8 col-12 p-4 workshop">
              <img class="img-fluid" src="/images/Assets/Non Tech Events Poster.png"></div> 
            <div class="col-lg-5 col-md-5 col-12 p-4">
             <h3> Non-Technical Events </h3><br>
              <h5> Not much interested in the Technical aspects of things? Feel like you have more skill on the activities teasing your brain. Then, this is The event for you. The NonTech contests contain a wide range of topics from basic arithmetic to unearthing a Treasure, all which require the mind that you possess. It's time for some fun!</h5>
              <br><br><br>
            </div>
           </div>
           <br>
        </div>
    </div>
    <br>
  </div>  
    <br>  
    <br>
    <br>
    <br>
        
      <div>  
        <footer class="page-footer text-light bg-dark">
          <br>
      <div class="container text-center text-md-left mt-5">
          <div class="row">
          <div class="col-md-3 mx auto md-4">
              <h6 class="text-uppercase font-weight-bold">event co-ordinators</h6>
              <hr class=" md-4 mt-0 d-inline-block mx-auto" style= "width:200px ;height: 5px">
              <p class="mt-2 text-secondary">
                  Techincal Events:&nbsp Lokkeshwar Y<br> 
                  contact number:&nbsp 7094239800<br><br>
                  Non-Techincal Events:&nbsp Abinaya M N<br> 
                  contact number:&nbsp 7708489831<br><br>
                  Workshops:&nbsp Madhusudhan V<br>
                  contact number:&nbsp 6379624413<br>
                  <br>
                  <br>
                  <i class="fas fa-envelope text-white mr-1"></i> : mutex2k21@gmail.com
                  <br>
                  <i class="fab fa-instagram text-white mr-1"></i> : ita_mit_india
                  </p>
              </div>
              <div class="col-md-3 mx auto md-4"></div>
              <div class="col-md-3 mx auto md-4"></div>
              <div class="col-md-3 mx auto md-4">
             <center>     <img src="/images/ita.PNG" alt="image" style= "width:150px ;height: 150px" />
                  <p class="mt-2 text-center text-light">Website designed by ITA tech team</p></center>
              </div>
              </div>
              
          </div>
      
      
              <div class="footer-copyright text-center py-3">
                  <p>&copy;Information Technology Assoiciation
                  </p>
          </div>
      
  </footer>
 </div>       
    </body>
</html>

































